.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color: #343a40 !important;
    }

    table {
    background-color: white;
    border: 0.5px;
    border-radius: 9px;
    width: 698px;
    }

    td,
    th {
    padding: 8px;
    }

    textarea {
    width: 698px;
    height: 250px;
    }